.play {
  
  .play__center {
    padding: 10px;
    text-align: center;
    flex-direction: column;
    margin-top: -50px;

    .title {
      font-size: 75px;
      margin: 0;
    }

    .play__center-content {

      .banner {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 100%);
        transition: all 500ms;
        border-radius: 5px;
        overflow: hidden;
        margin: 5px 0;
       

        .timer {
          margin: 5px 0;

          small {
            margin: 0;
            font-size: 20px;
            font-weight: bold;

            strong {
              color: #fff;
              margin-left: 10px;
            }
          }
        }

        .progress {
          width: 100%;
          height: 10px;
          background-color: #02B1C8;
          margin: 0;
          transition: width 1s ease-in-out;
        }
        
      }

      .play__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 500px;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .play {
    .play__center {
      .title {
        font-size: 60px;
      }
      .play__center-content {
        .play__content {
            max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .play {
    .play__center {
      .title {
        font-size: 45px;
      }
      .play__center-content {
        .banner {
            flex-direction: row;
            width: 100%;

        }
      }
    }
  }
}
@media (max-width: 320px) {
  .play {
    .play__center {
      .title {
        font-size: 35px;
      }
      .play__center-content {
        .play__content {
          max-width: 380px;
        }
      }
    }
  }
}




