<app-loading *ngIf="!canLoad"></app-loading>
<div class="play flexCenter" *ngIf="characters.length">
  <div class="play__center flexCenter">
    <h1 class="title animate__animated animate__fadeInDown">Rick And Morty</h1>
    <div class="play__center-content">
      <div class="banner animate__animated animate__fadeIn">
        <div class="timer">
          <small
            >Tiempo : <strong>{{ currentTime }} / {{ time }}</strong></small
          >
        </div>
        <div
          class="progress animate__animated animate__fadeIn"
          [style.width]="width + '%'"
        ></div>
      </div>
      <div class="play__content">
        <app-card
          *ngFor="let item of characters"
          (onInterval)="setTimer()"
          (onpar)="setTime()"
          [dataSrc]="item"
          #card
        ></app-card>
      </div>
    </div>
  </div>
</div>

