
.play {
    width: 100vw;
    height: 100vh;
   
    .play__content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 500px;
        flex-wrap: wrap;
        padding: 10px;
        height: 50%;
        gap: 5px;
    }
}