<app-won *ngIf="isComplete"></app-won>
<app-loading *ngIf="!characters.length"></app-loading>

<div class="play flexCenter" *ngIf="characters.length">
  <div class="play__center">
    <h1 class="title animate__animated animate__fadeInDown">{{title}}</h1>
    <div class="play__center-content">
      <div class="banner animate__animated animate__fadeIn">
        <img src="assets/img/icon.png" *ngFor="let item of totalVidas" />
      </div>
      <div class="play__content">
        <app-card
          *ngFor="let item of characters"
          [dataSrc]="item"
          #card
        ></app-card>
      </div>
    </div>
    <div class="play__footer animate__animated animate__fadeInUp">
    </div>
  </div>
</div>
