.play {
  width: 100vw;
  height: 100vh;

  .play__center {
    padding: 10px;
    text-align: center;
    min-height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .title {
      backdrop-filter: blur(10px);
      border-radius: 10px;
      font-size: 75px;
      padding: 10px;
      margin: 5px 0;
    }

    .play__center-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;

      .banner {
        background-color: rgb(0, 131, 72, 0.2);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 5px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .play__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 500px;
        flex-wrap: wrap;
        height: 50%;
        gap: 10px;
      }
    }
  }

  .play__footer {
    background-color: rgb(0, 131, 72, 0.5);
    border-radius: 5px;
    padding: 10px 0;
    height: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .play {
    .play__center {
      .title {
        font-size: 60px;
      }
      .play__center-content {
        .play__content {
            max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .play {
    .play__center {
      .title {
        font-size: 40px;
      }
      .play__center-content {
        .banner {
            flex-direction: row;
            width: 100%;

        }
      }
    }
  }
}
@media (max-width: 320px) {
  .play {
    .play__center {
      .title {
        font-size: 35px;
      }
      .play__center-content {
        .play__content {
          max-width: 380px;
        }
      }
    }
  }
}

