.card {
    border: 1px solid #B3D54D;
    border-radius: 10px;
    transition: 500ms;
    overflow: hidden;
    cursor: pointer;
    height: 90px;
    width: 90px;

    .front {
        height: inherit;
        width: inherit;
        
        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }

    .back {
        @extend .front;
    }
}


@media (max-width: 768px){
    .card {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 320px){
    .card {
        width: 50px;
        height: 50px;
    }
}