

.card {
    background-image: url('../../../../assets/img/fondo__card.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    background-size: cover;
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;
    height: 90px;
    width: 90px;
}