.loader {
    overflow: hidden;
    width: 100px; 
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    mask: var(--c),var(--c),var(--c);
    mask-size: 20% 50%;
    background: conic-gradient(#FBB833 25%,#FFFF00 0 75%,#9c5555 0) 0%/200% 100%;
    animation: 
      back 2s infinite steps(1),
      load 1s infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  @keyframes back{
    50% {background-position: 100%}
  }
  @keyframes load {
    0%  {mask-position: 0% 100%,50% 100%,100% 100%} 
    20% {mask-position: 0% 50% ,50% 100%,100% 100%} 
    40% {mask-position: 0% 0%  ,50% 50% ,100% 100%} 
    60% {mask-position: 0% 100%,50% 0%  ,100% 50% } 
    80% {mask-position: 0% 100%,50% 100%,100% 0%  } 
    100%{mask-position: 0% 100%,50% 100%,100% 100%} 
  }