.wrapper {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100000000000000000000;
  backdrop-filter: blur(4px);
  user-select: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0;
}

.content-box {
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 25px;
    max-width: 300px;
    margin: 10px 0;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .title__card {
      
      h5 {
        margin: 0;
        color: #121E24;
      }
    }

    .card {
      width: 70px;
      height: 65px;
      background-color: #FFC800;
      border-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;

      .item__card {
        width: 95%;
        height: 60%;
        background-color: #121E24;
        margin: 5px auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFD900;

        .icon {
          margin: 0 5px;
        }
      }
    }
    .card__pares {
      @extend .card;
      background-color: #48BFF8;

      .item__card {
        color: #48BFF8;
      }
    }

    .card__intentos {
      @extend .card;
      background-color: #93D333;

      .item__card {
        color: #93D333;
      }
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    background-color: #48BFF8;
    margin: 30px 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgb(255, 217, 0, 3)  0px 1px 2px 0px, rgb(255, 217, 0,15) 0px 2px 6px 2px;

    h2 {
      color: #121E24;
    }
  }
}


@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

