#loading {
    user-select: none;
    z-index: 90;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    transition: 500ms ease-in-out;
    .content-loading {
      z-index: 100;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.502);
      transition: 500ms ease-in-out;

      .title {
        font-size: 25px;
      }
    }
  }

  [class|="confetti"] {
    position: absolute;
    z-index: 101;
  }
  
  $colors: (#d13447, #ffbf00, #263672, #fff);
  
  @for $i from 0 through 200 {
    $w: random(35);
    $l: random(120);
    .confetti-#{$i} {
      width: #{$w}px;
      height: #{$w*0.4}px;
      background-color: nth($colors, random(4));
      top: -10%;
      left: unquote($l+"%");
      opacity: random() + 0.5;
      transform: rotate(#{random()*360}deg);
      animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
    }
  
    @keyframes drop-#{$i} {
      100% {
        top: 110%;
        left: unquote($l+random(15)+"%");
      }
    }
  }