<div class="wrapper flexCenter">
    <app-show *ngIf="isWinner"></app-show>
    <div class="content-box flexCenter">
        <ng-lottie [options]="isWinner ? options : gameOver" height="200px" width="250px"></ng-lottie>
        <div class="title">
            <h2>{{isWinner ? '¡Completaste el nivel!' : '¡GAME OVER!'}} </h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="title__card">
                    <h5>TIEMPO</h5>
                </div>
                <div class="item__card">
                    <div class="icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="value">
                        {{time}}
                    </div>
                </div>
            </div>
            <div class="card__pares">
                <div class="title__card">
                    <h5>PARES</h5>
                </div>
                <div class="item__card">
                    <div class="icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="value">
                        {{pares}}
                    </div>
                </div>
            </div>
            <div class="card__intentos">
                <div class="title__card">
                    <h5>INTENTOS</h5>
                </div>
                <div class="item__card">
                    <div class="icon">
                        <i class="fas fa-hand-pointer"></i>
                    </div>
                    <div class="value">
                        {{intentos}}
                    </div>
                </div>
            </div>
        </div>
        <div class="btn flexCenter" (click)="onNewPlay.emit()">
            <h2>Continuar</h2>
        </div>
    </div>
</div>
  