/* You can add global styles to this file, and also import other style files */


body {
    background-image: url('assets/img/logo.jpg');
    font-family: "Source Sans Pro";
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @extend .flexCenter;
    list-style: none;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

h1,
h2, 
h3, 
h4,
h5,
h6 {
  text-shadow: 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67;
  font-family: "Metal Mania", cursive;
  color: #02b1c8;
}

small {
  color: #7ffa67;
  font-size: 17px;
}


.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBetween {
    @extend .flexCenter;
    justify-content: space-between;
}

.mask {
  background-color: transparent;
  z-index: 100000000000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}



