/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    background-image: url('assets/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    @extend .flexCenter;
    font-family: "Source sans pro";
}

h1,
h2, 
h3, 
h4,
h5,
h6 {
  font-family: "Metal Mania", cursive;
  color: #02b1c8;
  text-shadow: 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67;
}

small {
  color: #7ffa67;
  font-size: 17px;
}



.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBetween {
    @extend .flexCenter;
    justify-content: space-between;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1920px, 0, 0); /* The image width */
    }
  }

